In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
harvey_zip_codes = [77002, 77003, 77004, 77005, 77006, 77007, 77008, 77009, 77010, 77011, 77012, 77013, 77014, 77015,
                   77016, 77017, 77018, 77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,
                   77032,77033,77034,77035,77036,77037,77038,77039,77048,77049,77050,77051,77052,77053,77054,77055, 77056, 
                    77057, 77058, 77059, 77060, 77061, 77062, 77063, 77064, 77065, 77066, 77067, 77068, 77069, 77070, 77071,
                    77072, 77073, 77074, 77075, 77076, 77077, 77078, 77079, 77080, 77081, 77082, 77083, 77084, 77085, 77086,
                    77087, 77088, 77089, 77090, 77091, 77092, 77093, 77094, 77095, 77096, 77097, 77098, 77099, 77204, 77217,
                    77249, 77251, 77266, 77268, 77271, 77284, 77289, 77336, 77339, 77338, 77345, 77346, 77357, 77373, 77375,
                    77377, 77379, 77383, 77389, 77388, 77396, 77401, 77410, 77429, 77433, 77447, 77450, 77449, 77484, 77493,
                    77503, 77502, 77505, 77504, 77507, 77506, 77521, 77520, 77530, 77532, 77536, 77546, 77547, 77562, 77571,
                    77586, 77587, 77598, 77626, 77630, 77639, 77632, 77611, 77662, 77670
                   ]

In [79]:
storm_zip_code = []

url = 'https://www.bestcase.com/hurricane-harvey-zip-codes/'
r = requests.get(url)
soup = BeautifulSoup(r.content, 'lxml')
table = soup.find('table')
    
for row in table.find('tbody').find_all('tr'):
    storms = {}
    storms['zip_code'] = row.find_all('td')[0].text
    storms['zip_code2'] = row.find_all('td')[2].text
    storms['zip_code3'] = row.find_all('td')[4].text
    storm_zip_code.append(storms)

In [33]:
dorian_zip_code = []

url = 'https://www.getzips.com/cgi-bin/ziplook.exe?What=3&County=palm+beach&State=FL&Submit=Look+It+Up'
r = requests.get(url)
soup = BeautifulSoup(r.content, 'lxml')
table = soup.find('table', {'width' : 540})
    
for row in table.find_all('tr')[1:]:
    dorian = {}
    dorian['zip_code'] = row.find('td').find('p').text
    dorian_zip_code.append(dorian) 
zip_code_df = pd.DataFrame(dorian_zip_code)

In [36]:
zip_code_df.to_csv('dorian_zips.csv')

In [42]:
harvey_zip_codes.dtypes

zip_code     object
zip_code2    object
zip_code3    object
dtype: object

In [26]:
main_df['zip'] = main_df['zip'].astype(str)

In [30]:
main_df['zip'] = main_df['zip'].str[:5]

In [94]:
harvey_zips = df_1['zip_code'].tolist()

In [35]:
second_column_zips = harvey_zip_codes['zip_code2'].tolist()

In [36]:
third_column_zips = harvey_zip_codes['zip_code3'].tolist()

In [ ]:
for w in first_column_zips:
        print(w);

In [52]:
harvey = []
for i in master_df['zip']:
    if i in set(harvey_zip_codes):
        harvey.append(1)
    else:
        harvey.append(0)

In [ ]:
harvey;

In [54]:
master_df['harvey_affected'] = harvey

In [37]:
for w in second_column_zips:
    for e in main_df['zip']:
        if w == e:
            main_df['harvey_affected'] = 1
        else:
            main_df['harvey_affected'] = 0

In [38]:
for w in third_column_zips:
    for e in main_df['zip']:
        if w == e:
            main_df['harvey_affected'] = 1
        else:
            main_df['harvey_affected'] = 0

In [100]:
main_df.to_csv('3_hurricane_df.csv')

In [104]:
harvey_df.to_csv('harvey_df.csv')

In [105]:
dorian_df.to_csv('dorian_df.csv')

In [106]:
sandy_df.to_csv('sandy_df.csv')

In [3]:
master_df = pd.read_csv('master_df.csv')

In [4]:
master_df['%_change_after_harvey'].mean()

-0.02199227274609259

In [4]:
master_df.head()

,Unnamed: 0,zip,StateName,pop_rank,2008 mean_median,2009 mean_median,2010 mean_median,2011 mean_median,2012 mean_median,2013 mean_median,...,2017 mean_median,2018 mean_median,2019 mean_median,dorian_affected,%_change_after_dorian,sandy_affected,%_change_after_sandy,harvey_affected,%_change_after_harvey,harvey_category
0,0,10025,New York,1,NaN,NaN,NaN,NaN,NaN,NaN,...,9.840167e+05,1.008175e+06,9.713083e+05,0,-0.145095,1,NaN,0,0.175213,4
1,1,60657,Illinois,2,376660.0,380441.666667,380441.666667,377933.333333,350575.000000,356400.000000,...,3.284333e+05,3.706917e+05,4.066250e+05,0,-0.040440,0,-0.103477,0,-0.166555,4
2,2,10023,New York,3,NaN,NaN,NaN,NaN,NaN,NaN,...,1.181275e+06,1.122175e+06,1.135267e+06,0,-0.137013,1,NaN,0,-0.017010,4
3,3,77494,Texas,4,243110.0,246758.333333,246758.333333,244550.000000,252083.333333,263333.333333,...,3.280583e+05,3.314667e+05,3.239909e+05,0,-0.020593,0,0.009964,1,-0.041589,4
4,4,60614,Illinois,5,NaN,NaN,NaN,NaN,NaN,NaN,...,3.829000e+05,4.331417e+05,5.040583e+05,0,-0.063878,0,NaN,0,0.083498,4

In [ ]:
master_df['%_change_after_harvey'] = (zip_code_df['2017-07'] - zip_code_df['2017-10']) / zip_code_df['2017-07']

In [31]:
master_df.head()

,zip,StateName,pop_rank,2008 mean_median,2009 mean_median,2010 mean_median,2011 mean_median,2012 mean_median,2013 mean_median,2014 mean_median,...,2017 mean_median,2018 mean_median,2019 mean_median,dorian_affected,%_change_after_dorian,sandy_affected,%_change_after_sandy,harvey_affected,%_change_after_harvey,harvey_category
0,10025,New York,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.840167e+05,1.008175e+06,9.713083e+05,0,-0.145095,1,NaN,0,0.175213,4
1,60657,Illinois,2,376660.0,380441.666667,380441.666667,377933.333333,350575.000000,356400.000000,382133.333333,...,3.284333e+05,3.706917e+05,4.066250e+05,0,-0.040440,0,-0.103477,0,-0.166555,4
2,10023,New York,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.181275e+06,1.122175e+06,1.135267e+06,0,-0.137013,1,NaN,0,-0.017010,4
3,77494,Texas,4,243110.0,246758.333333,246758.333333,244550.000000,252083.333333,263333.333333,289441.666667,...,3.280583e+05,3.314667e+05,3.239909e+05,0,-0.020593,0,0.009964,1,-0.041589,4
4,60614,Illinois,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.829000e+05,4.331417e+05,5.040583e+05,0,-0.063878,0,NaN,0,0.083498,4

In [32]:
master_df.to_csv("master_df.csv")

In [60]:
master_df[master_df['zip'] == 77639]

Empty DataFrame
Columns: [Unnamed: 0, zip, StateName, pop_rank, 2008 mean_median, 2009 mean_median, 2010 mean_median, 2011 mean_median, 2012 mean_median, 2013 mean_median, 2014 mean_median, 2015 mean_median, 2016 mean_median, 2017 mean_median, 2018 mean_median, 2019 mean_median, dorian_affected, %_change_after_dorian, sandy_affected, %_change_after_sandy, harvey_affected, %_change_after_harvey, harvey_category]
Index: []

[0 rows x 23 columns]

In [5]:
harvey_df = master_df.loc[master_df['harvey_affected'] == 1]

In [7]:
harvey_df['%_change_after_harvey'].min() #houston texas is the worst hit

-0.2438443208895949

In [8]:
harvey_df[harvey_df['%_change_after_harvey'] == -0.2438443208895949]

,Unnamed: 0,zip,StateName,pop_rank,2008 mean_median,2009 mean_median,2010 mean_median,2011 mean_median,2012 mean_median,2013 mean_median,...,2017 mean_median,2018 mean_median,2019 mean_median,dorian_affected,%_change_after_dorian,sandy_affected,%_change_after_sandy,harvey_affected,%_change_after_harvey,harvey_category
3656,3656,77071,Texas,3657,NaN,NaN,NaN,NaN,NaN,NaN,...,135308.333333,155383.333333,174325.0,0,0.014715,0,NaN,1,-0.243844,4